global
    maxconn 2048

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend servers

backend servers
    balance roundrobin

    option httpchk GET /
    option forwardfor
    option http-server-close
    balance roundrobin

    server web1 web1:80 check inter 5000 rise 2 fall 3
    server web2 web2:80 check inter 5000 rise 2 fall 3

# simple stats page (accessible on exposed port 1936)
listen stats
    bind *:1936
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
