global
    maxconn 5000

defaults
    mode http

    timeout connect 3s
    timeout client 20s
    timeout server 20s

frontend http_front
    bind *:8080
    default_backend api

backend api
    balance roundrobin

    server node1 node1:3000 check
    server node2 node2:3000 check
    server node3 node3:3000 check
    server node4 node4:3000 check
    